/*
1. Posicionamiento : static, absolute, relative, fixed
2. Modelo de caja (Box Model): margin, border, padding, content
3. Tipografia : tipos, tamaños, etc.
4. Visuales : box-shadow, border-radius, gradient, etc.
5. Otros : reglas css y mas
*/
:root {
/*Colores*/
--reiki-green: #04364A;
--soft-green: #64CCC5;
--secondary-blue: #176B87;
--soft-blue: #DAFFFB;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background: rgb(65,145,151);
    background: linear-gradient(138deg, rgba(65,145,151,1) 0%, rgba(120,214,198,1) 100%);
}
header img {
    
    height:120px;
    margin-top: -10px;
    align-self: center;
}
.parent  img{
    height: 100px;
    justify-items: center;
    align-items: stretch;
    
} 
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.8rem;
    margin-bottom: 25px;
    font-weight: bold;    /*Grosor de la fuente*/
    line-height: 2.6rem;  /*Salto de linea*/
    color: var(--just-white);
}
.header--title-container h2 {
    margin-bottom: 25px;  
}
.header--title-container p {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--reiki-green);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); /*Sombra*/
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none; /*Elimina linea debajo del texto*/
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
.parent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(12, 2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 4 / 1 / 5 / 2; }
    .div8 { grid-area: 4 / 2 / 5 / 3; }
    .div9 { grid-area: 5 / 1 / 6 / 2; }
    .div10 { grid-area: 5 / 2 / 6 / 3; }
    .div11 { grid-area: 6 / 1 / 7 / 2; }
    .div12 { grid-area: 6 / 2 / 7 / 3; }
    .div13 { grid-area: 7 / 1 / 8 / 2; }
    .div14 { grid-area: 7 / 2 / 8 / 3; }
    .div15 { grid-area: 8 / 1 / 9 / 2; }
    .div16 { grid-area: 8 / 2 / 9 / 3; }
    .div17 { grid-area: 9 / 1 / 10 / 2; }
    .div18 { grid-area: 9 / 2 / 10 / 3; }
    .div19 { grid-area: 10 / 1 / 11 / 2; }
    .div20 { grid-area: 10 / 2 / 11 / 3; }
    .div21 { grid-area: 11 / 1 / 12 / 2; }
    .div22 { grid-area: 11 / 2 / 12 / 3; }
    .div23 { grid-area: 12 / 1 / 13 / 2; }
    .div24 { grid-area: 12 / 2 / 13 / 3; }
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main--exchange-container {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.main--exchange-container-title {
    width: 90%;
    min-width: 228px;
    max-width: 900px;
    margin: 0 auto;   /*Para posicionarlo en el centro*/
}
.main--exchange-container .background-img {
    width: 100px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('./assets/imgs/reikimanos.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.main--exchange-container .background-img-2 {
    width: 100px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('./assets/imgs/personameditando2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.main--exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--secondary-blue);
}
.main--exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
/* .main--currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
} */
.main--currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table {
    width: 100%;
    height: 100%;
}
.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-rigth {
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table-container .table__bottom-rigth {
    border-radius: 0 0 15px 0;
}
.currency-table-container .table__rigth {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date  {
    margin: 0 auto;
    background-color: var(--soft-orange);
    width: 200px;
    height: 24px;
    border-radius: 8px;
    margin-top: 15px;
    padding: 5px;
}
.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
.main-product-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--soft-green);
}
.main-product-detail img {
    height: 120px;
    margin-top: -80px;
    align-self: center;
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3.6rem;
    color: var(--reiki-green);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-blue);
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 800px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--reiki-green);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card {
    /* display: inline-block; */
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}
.clock {
    background-image: url('./assets/icons/clock.svg');
}
.eye {
    background-image: url('./assets/icons/eye.svg');
}
.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check {
    background-image: url('./assets/icons/check-circle.svg');
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/imgs/personameditando.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider { /*para quepan todas las tarjetas*/
    display: flex;
    height: 318px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card-1 {
    position: relative;
    scroll-snap-align: center; /*cuando se hace scroll la centra automaticamente*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    background-image: url('./assets/imgs/MikaoUsui.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.plans-container--card-2 {
    position: relative;
    scroll-snap-align: center; /*cuando se hace scroll la centra automaticamente*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    background-image: url('./assets/imgs/hawayotakata.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.plans-container--card-3 {
    position: relative;
    scroll-snap-align: center; /*cuando se hace scroll la centra automaticamente*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    background-image: url('./assets/imgs/Chujiro_Hayashi.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.recomendado {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    padding: 6px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);
    font-size: 1.4rem;
}
.plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}
.plan-card-price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px; /*Posiciona el $ arriba*/
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 190px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--soft-green);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.right img {
    height: 50px;
    width: 30px;
}